.section_company_box {
  padding: 0 24px;
  margin-top: -15px;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    padding: 0 40px;
    margin-top: -40px;
    margin-bottom: 32px;
  }

  .wrapper {
    background-color: var(--color-bg-box);
    transition: background-color 0.2s;

    border-radius: 6px;
    position: relative;

    text-align: center;
    padding-top: 49px;
    padding-bottom: 32px;
    max-width: 500px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      max-width: 730px;
      height: 140px;
      padding: 0;

      text-align: left;
      overflow: hidden;

      display: flex;
      align-items: center;
      padding-left: 180px;
      padding-right: 40px;
    }
  }

  .img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 15px;

    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (min-width: 768px) {
      width: 140px;
      height: 140px;
      border-radius: 6px 0 0 6px;

      top: 0;
      left: 0;
      transform: revert;
    }

    img {
      width: revert;
      height: revert;

      @media only screen and (min-width: 768px) {
        transform: scale(2);
      }
    }
  }

  .position {
    color: var(--color-text-title);
    transition: color 0.2s;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;

    @media only screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  .site {
    color: rgba(110, 128, 152, 1);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 27px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  div:last-child {
    @media only screen and (min-width: 768px) {
      margin-left: auto;
    }
  }

  .comp_site,
  .comp_site:link,
  .comp_site:visited {
    display: inline-block;
    padding: 16px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    color: var(--color-link-text);
    background-color: var(--color-link-bg);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-link-bg-hover);
    }

    &:active {
      color: var(--color-link-text);
    }
  }
}
