.filter_bar_section {
  padding: 0 24px;
  margin-top: -40px;
  margin-bottom: 57px;

  @media only screen and (min-width: 768px) {
    padding: 0 40px;
    margin-bottom: 70px;
  }

  form {
    display: flex;

    max-width: 500px;
    margin: 0 auto;

    position: relative;

    background-color: var(--color-bg-box);
    transition: background-color 0.2s;

    height: 80px;
    border-radius: 6px;
    overflow: hidden;

    @media only screen and (min-width: 768px) {
      max-width: 689px;
    }

    @media only screen and (min-width: 1117px) {
      max-width: 1037px;
    }

    @media only screen and (min-width: 1200px) {
      max-width: 1110px;
    }
  }

  // // // // // // // // // // // // // // // // // // // //

  .icon_search {
    @media only screen and (min-width: 768px) {
      position: absolute;
      left: 24px;
      top: 28px;
      pointer-events: none;
    }
  }

  .input_title {
    width: 100%;
    padding-left: 24px;
    border-radius: 6px;
    border: none;

    font-size: 16px;
    font-weight: 400;

    background-color: transparent;

    color: var(--color-text-title);
    transition: color 0.2s;

    @media only screen and (min-width: 768px) {
      flex-grow: 32.2%;
      width: revert;
      border-right: 1px solid rgba(110, 128, 152, 0.2);
      border-radius: 6px 0 0 6px;
      padding-left: 64px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  // // // // // // // // // // // // // // // // // // // //

  .filter_popup {
    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      flex-grow: 67.8%;
    }

    .layout {
      @media only screen and (max-width: 767px) {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4965);

        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
      }

      @media only screen and (min-width: 768px) {
        display: none;
      }
    }

    .wrapper {
      @media only screen and (max-width: 767px) {
        overflow: hidden;
        background-color: var(--color-bg-box);
        margin: 0 24px;
        padding: 72px 24px 0 24px;
        width: 327px;
        height: 217px;
        border-radius: 6px;
        transition: background-color 0.2s;

        position: fixed;
        z-index: 15;
        top: 225px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .show_popup {
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  .icon_loc {
    @media only screen and (max-width: 767px) {
      position: absolute;
      z-index: 20;
      top: 24px;
      left: 24px;
      pointer-events: none;
    }
  }

  .select_loc {
    @media only screen and (max-width: 767px) {
      position: absolute;
      z-index: 19;
      left: 0;
      top: 0;

      font-size: 16px;
      font-weight: 400;

      padding-left: 57px;
      width: 110%;
      height: 72px;

      border: 0;
      border-bottom: 1px solid rgba(110, 128, 152, 0.2);
      border-radius: 6px;

      background-color: transparent;

      &:focus {
        outline: none;
      }

      color: var(--color-text-title);
      transition: color 0.2s;
    }
  }

  .checkbox_label {
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin: 12px 0;
    cursor: pointer;

    div {
      width: 24px;
      height: 24px;
      border-radius: 3px;
      margin-right: 16px;
      background-color: var(--color-text-title);
      transition: background-color 0.2s, opacity 0.3s;
      opacity: 0.1035;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 16px;
      font-weight: 700;
      color: var(--color-text-title);
      transition: color 0.2s;
    }

    input {
      display: none;
    }
  }

  // // // // // // // // // // // // // // // // // // // //

  .smallScreenSearch {
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding: 16px 0;
      border: none;
      border-radius: 5px;

      background-color: #5964e0;

      color: var(--color-white);
      font-size: 16px;
      font-weight: 700;

      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #939bf4;
      }
    }
  }

  .filter_btn,
  .search_btn {
    width: 48px;
    height: 48px;
    border-radius: 5px;

    border: none;

    position: absolute;
    top: 16px;

    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;

    @media only screen and (min-width: 768px) {
      width: 80px;

      font-size: 16px;
      font-weight: 700;
      color: var(--color-white);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .filter_btn {
    background-color: transparent;
    margin-left: auto;

    right: 74px;
  }

  .search_btn {
    background-color: #5964e0;

    right: 16px;

    &:hover {
      background-color: #939bf4;
    }
  }
}

// // // // // // // // // // // // // // // // // // // //
