.wrapper {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  h2 {
    color: var(--color-text-title);
    transition: color 0.2s;

    font-size: 20px;
    font-weight: 700;

    margin-bottom: 28px;
  }

  p {
    color: var(--color-text);
    transition: color 0.2s;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    margin-bottom: 32px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  ul,
  ol {
    padding-left: 18px;
  }

  li {
    color: var(--color-text);
    transition: color 0.2s;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    padding-left: 16px;

    @media only screen and (min-width: 768px) {
      padding-left: 20px;
    }

    &::marker {
      color: rgba(89, 100, 224, 1);
    }
  }
}
