// // // // // // // // // // // // // // // // // // // //

.section_job_description {
  padding: 0 24px;

  @media only screen and (min-width: 768px) {
    padding: 0 40px;
  }

  .wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 24px;
    border-radius: 6px;
    margin-bottom: 64px;

    background-color: var(--color-bg-box);
    transition: background-color 0.2s;

    @media only screen and (min-width: 768px) {
      max-width: 730px;
      padding: 48px;
    }
  }

  .heading {
    margin-bottom: 32px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 44px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    ul {
      list-style: none;
      display: flex;
      column-gap: 28px;
      margin-bottom: 11px;

      color: #6e8098;
      font-size: 16px;
      font-weight: 400;
    }

    li:first-child {
      position: relative;

      &::after {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #6e8098;

        position: absolute;
        top: 50%;
        right: -14px;
        transform: translateY(-50%);
      }
    }

    h1 {
      color: var(--color-text-title);
      transition: color 0.2s;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 12px;

      @media only screen and (min-width: 768px) {
        font-size: 28px;
        margin-bottom: 14px;
      }
    }

    p {
      color: rgba(89, 100, 224, 1);
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 54px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  .description {
    color: var(--color-text);
    transition: color 0.2s;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
  }
}

// // // // // // // // // // // // // // // // // // // //

.section_apply_now {
  background-color: var(--color-bg-box);
  transition: background-color 0.2s;

  padding: 24px;
  border-radius: 5px 5px 0 0;

  @media only screen and (min-width: 768px) {
    padding: 24px 40px;
  }

  .wrapper {
    max-width: 500px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      max-width: 730px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    div:first-child {
      display: none;

      @media only screen and (min-width: 768px) {
        display: block;

        p:first-child {
          color: var(--color-text-title);
          transition: color 0.2s;

          font-size: 20px;
          font-weight: 700;
          margin-bottom: 12px;
        }

        p:last-child {
          color: rgba(110, 128, 152, 1);
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

// // // // // // // // // // // // // // // // // // // //

.link,
.link:link,
.link:visited {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 16px;
  font-weight: 700;

  width: 100%;
  height: 48px;
  border-radius: 5px;

  background-color: rgba(89, 100, 224, 1);
  color: var(--color-white);
  transition: background-color 0.2s;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    width: 141px;
  }

  &:hover {
    background-color: rgba(147, 155, 244, 1);
  }
}

// // // // // // // // // // // // // // // // // // // //
